/* jost-regular - latin */
@font-face {
   font-display: swap;
   font-family: "Jost";
   font-style: normal;
   font-weight: 400;
   src: url("../fonts/jost-v14-latin-regular.woff2") format("woff2");
}

/* jost-600 - latin */
@font-face {
   font-display: swap;
   font-family: "Jost";
   font-style: normal;
   font-weight: 600;
   src: url("../fonts/jost-v14-latin-600.woff2") format("woff2");
}

/* jost-700 - latin */
@font-face {
   font-display: swap;
   font-family: "Jost";
   font-style: normal;
   font-weight: 700;
   src: url("../fonts/jost-v14-latin-700.woff2") format("woff2");
}
